
<div id="edit_event_view">
  <b>Edit Event</b>
  <table>
    <tr>
      <td>
        Event Title
        <input type="text" id="event_title">
      </td>
    </tr>
    <tr>
      <td>
        Event Location
        <input type="text" id="event_location">
      </td>
    </tr>
    <tr>
      <td>
        Event Time
        <input type="text" id="event_time">
      </td>
    </tr>
    <tr>
      <td>
        Event Date
        <input type="text" id="event_date">
      </td>
    </tr>
    <tr>
      <td>
        <button id="cancel_editing">Cancel</button>
        <button id="submit_event_edit">Update</button>
      </td>
    </tr>
  </table>
</div>
