<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.resizableColumns.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery.resizableColumns.css') }}">
    <title>Events</title>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='eventHITW.js') }}"></script>
  </head>


  <body>

    <table class="table table-bordered" data-resizable-columns-id="event_table" id="event_table">
      <thead>
        <tr>
          <th data-resizable-column-id="event_title">Event Title</th>
          <th data-resizable-column-id="event_location">Event Location</th>
          <th data-resizable-column-id="event_time">Event Time</th>
          <th data-resizable-column-id="event_date">Event Date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>

<script>
var currently_updating_user = false;
var events = [];

$(document).ready(function(){
  $.ajax({
    type: "GET",
    url: '/get_all_events/',
    contentType: "application/json",
    dataType: "json",
    success: function(data) {
      eventss = parse_event_from_json(data);
      eventss.forEach(function(event_) {
        event_id =       event_.get_event_id()
        event_title =    event_.get_event_title()
        event_location = event_.get_event_location()
        event_time =     event_.get_event_time()
        event_date =     event_.get_event_date()

        $('#event_table > tbody').append(
          '<tr>'+
            '<td>' + event_title + '</td>' +
            '<td>' + event_location + '</td>' +
            '<td>' + event_time + '</td>' +
            '<td>' + event_date + '</td>' +
            '<td><button id="edit_event_button">Edit Event</button></td>' +
          '</tr>')

          // Add listener.
          $("button").click(function() {
            if (this.id == 'edit_event_button') {
              display_edit_area(function() {
                var index = $(this).closest('tr').index();
                console.log(index)
              });
            }
          });
      });
    },
    failure: function() {
      alert("Something went wrong.")
    }
  });
});


function update_event(event) {

}

function fill_html_with_event(event) {
  var editing_event = event
  $('#event_title').val(event.get_event_id());
  $('#event_location').val(event.get_event_location());
  $('#event_time').val(event.get_event_time());
  $('#event_date').val(event.get_event_date());
};


function display_edit_area(callback) {
  if (!currently_updating_user) {
    $(function () {
      $.ajax({
        type: 'GET',
        url: "/edit_event_view/",
        success: function (data) {
          $('body').append(data);
          currently_updating_user = true;
          callback()
        },
        dataType: 'html'
      });
    });
  }
}
</script>
