<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../static/util.js"></script>
    <title>Homepage</title>
  </head>

  <body>
    <a href="/see_events_page/"><h2>See events</h2></a>
    <a href="/see_members_page/"><h2>See members</h2></a>


    <h3>Add Event
    <table>
      <tr>
        <td>
          Title
          <input type="text" class="form-control" id="event_title">
        </td>
      </tr>
      <tr>
        <td> Location
          <input type="text" class="form-control" id="event_location">
        </td>
      </tr>
      <tr>
        <td>
          Time
          <input type="text" class="form-control" id="event_time" value="mm:hh">
        </td>
      </tr>
      <tr>
        <td>
          Date
          <input type="text" class="form-control" id="event_date" value="dd/mm/yy">
        </td>
      </tr>
      <tr>
        <td>
          <input class="btn btn-default" type="button" id="add_event_button" value="Add Event">
        </td>
      </tr>
    </table>


    <hr>
    <h3>Add Member<h3>
    <table>
      <tr>
        <td>
          Firstname
          <input type="text" class="form-control" id="member_f_name">
        </td>
      </tr>
      <tr>
        <td>
          Lastname
          <input type="text" class="form-control" id="member_l_name">
        </td>
      </tr>
      <tr>
        <td>
          Handicap
          <input type="text" class="form-control" id="member_handicap">
        </td>
      </tr>
      <tr>
        <td>
          <input type="button" class="btn btn-default" id="add_member_button" value="Add Member">
        </td>
      </tr>
    </table>
    <div id = "alert_placeholder"></div>
  <body>
</html>
  <script type="text/javascript">

  $(function() {
    $("#add_member_button").click(function() {
      var member_f_name = $('#member_f_name').val();
      var member_l_name = $('#member_l_name').val();
      var member_handicap = $('#member_handicap').val();
      var jsonData = {
        "firstname" :member_f_name,
        "lastname"  :member_l_name,
        "handicap"  :member_handicap
      };
      var data = JSON.stringify(jsonData)
      $.ajax({
        type: "POST",
        url: '/add_member/',
        contentType: "application/json",
        data: data,
        success: function(data) {
          // Clear all text fields after success insertion.
          $('#member_f_name').val("")
          $('#member_l_name').val("")
          $('#member_handicap').val("")
          success(member_f_name + " " + member_l_name + " has been added.");

        },
        failure: function() {
          alert("Something went wrong.")
        }
      });
    });

    $("#add_event_button").click(function() {
      var event_title = $('#event_title').val();
      var event_location = $('#event_location').val();
      var event_date = $('#event_date').val();
      var event_time = $('#event_time').val();

      var jsonData = {
        "title"     :event_title,
        "location"  :event_location,
        "time"      :event_time,
        "date"      :event_date
      };
      var data = JSON.stringify(jsonData)
      $.ajax({
            type: "POST",
            url: '/add_event/',
            contentType: "application/json",
            data: data,
            success: function(data) {
              // Clear all text fields after success insertion.
              $('#event_title').val("");
              $('#event_location').val("");
              $('#event_date').val("dd/mm/yy");
              $('#event_time').val("mm:hh");
              alert("Success")
            },
            failure: function() {
              alert("Something went wrong.")
            }
        });
    });
  });


  function success(message) {
    $("#alert_placeholder").append('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
  }

</script>
