<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/index.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/holder/2.9.0/holder.min.js">
    </script>
    <script src="../static/util.js"></script>
    <script src="../static/common.js"></script>
    <script src="../static/member.js"></script>
    <script src="../static/eventHITW.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Homepage</title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" href="#">McCaffrey's Hole In The Wall Golf Society</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/events_list/"><h4>See events</h4></a></li>
          <li><a href="/members_list/"><h4>See members</h4></a></li>
        </ul>
      </div>
    </nav>


    <div class="btn_display">
      <button class="btn btn-default" data-toggle="modal" data-target="#addMemberModal">Add Member</button>
      <button class="btn btn-default" data-toggle="modal" data-target="#addEventModal">Add Event</button>
    </div>

    <div id="card_container">
      <div class="card" style="width:318px; display: inline-block">
      <img class="card-img-top" data-src="holder.js/318x180" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Upcoming Outing</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Location:</b> CastleKnock Golf Course</li>
        <li class="list-group-item"><b>Time:</b> 10:30</li>
        <li class="list-group-item"><b>Date:</b> 10/06/16</li>
      </ul>
  </div>
  </div>



  <div id = "alert_placeholder"></div>

  <!-- Add Member Modal -->
  <div class="modal fade" id="addMemberModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Member</h4>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td>
                Firstname
                <input type="text" class="form-control" id="member_f_name">
              </td>
            </tr>
            <tr>
              <td>
                Lastname
                <input type="text" class="form-control" id="member_l_name">
              </td>
            </tr>
            <tr>
              <td>
                Handicap
                <input type="text" class="form-control" id="member_handicap">
              </td>
            </tr>

          </table>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" id="add_member_button" value="Add Member">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Event Modal -->
  <div class="modal fade" id="addEventModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h4 class="modal-title">Add Member</h4>
        </div>
        <div class="modal-body">
          <table>
            <tr>
              <td>
                Title
                <input type="text" class="form-control" id="event_title">
              </td>
            </tr>
            <tr>
              <td> Location
                <input type="text" class="form-control" id="event_location">
              </td>
            </tr>
            <tr>
              <td>
                Time
                <input type="text" class="form-control" id="event_time" value="mm:hh">
              </td>
            </tr>
            <tr>
              <td>
                Date
                <input class="form-control" data-provide="datepicker" id="event_date" value="dd/mm/yy">
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <input class="btn btn-default"  type="button" id="add_event_button" value="Add Event">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<body>
</html>
<script type="text/javascript">
$(document).ready(function() {


  $("#add_member_button").click(function() {
    // Get the values the user has entered for member.
    var member_f_name = $('#member_f_name').val();
    var member_l_name = $('#member_l_name').val();
    var member_handicap = $('#member_handicap').val();

    // Create a new member, set the id to whatever,
    // as this does not matter when adding the member to
    // the system as the id will be generated.
    var member_to_add = new Member(0, member_f_name, member_l_name, member_handicap);
    ajaxPOST_add_member(member_to_add,
      function successful(data) {
        // Set textfields to empty.
        clear_member_inputs();
        success(member_f_name + " " + member_l_name + " has been added.");
      },
      function failure() {
        alert("Something went wrong.")
      }
    );
  });

  $("#add_event_button").click(function() {
    var event_title = $('#event_title').val();
    var event_location = $('#event_location').val();
    var event_date = $('#event_date').val();
    var event_time = $('#event_time').val();

    // Create new event, set the id to anything as it is not
    // used in /add_member/
    var event_to_add = new EventHITW(0, event_title, event_location, event_time, event_date);

    ajaxPOST_add_event(event_to_add,
      function successful() {
        success(event_title + " has been added");
      },
      function failure() {
        alert("Something went wrong.")
      }
    );
  });
});


function clear_member_inputs() {
  $('#member_f_name').val("")
  $('#member_l_name').val("")
  $('#member_handicap').val("")
}

function success(message) {
  $("#alert_placeholder").append('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
}

</script>
