<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/bootstrap-datepicker.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='eventHITW.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='facebook.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
  </head>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">McCaffrey's Hole In The Wall Golf Society</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/events_list" data-toggle="collapse" data-target=".navbar-collapse.in">Events</a>
          </li>
          <li>
            <a href="/members_list" data-toggle="collapse" data-target=".navbar-collapse.in">Players</a>
          </li>
          <li>
            <a href="/poy" data-toggle="collapse" data-target=".navbar-collapse.in">Player of the year</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <body>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    <div id="status">
    </div>


    <!-- Add Member Modal -->
    <div class="modal fade" id="addMemberModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Member</h4>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  Firstname
                  <input type="text" class="form-control" id="member_f_name">
                </td>
              </tr>
              <tr>
                <td>
                  Lastname
                  <input type="text" class="form-control" id="member_l_name">
                </td>
              </tr>
              <tr>
                <td>
                  Handicap
                  <input type="text" class="form-control" id="member_handicap">
                </td>
              </tr>

            </table>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" id="add_member_button" value="Add Member">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Event Modal -->
    <div class="modal fade" id="addEventModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h4 class="modal-title">Add Event</h4>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  Title
                  <input type="text" class="form-control" id="event_title">
                </td>
              </tr>
              <tr>
                <td> Location
                  <input type="text" class="form-control" id="event_location">
                </td>
              </tr>
              <tr>
                <td>
                  Event Start Tee
                  <input type="text" class="form-control" id="event_start_tee">
                </td>
              </tr>
              <tr>
                <td>
                  Event End Tee
                  <input type="text" class="form-control" id="event_end_tee">
                </td>
              </tr>
              <tr>
                <td>
                  Date
                  <input type="text" class="form-control" data-provide="datepicker" id="event_date" value="dd/mm/yy">
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <input class="btn btn-default"  type="button" id="add_event_button" value="Add Event">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="adminControls"></div>
    <div id = "alert_placeholder"></div>
  </body>
</html>

<script>
$(document).on('ready', function() {
  // See if the admin user is logged in.
  getFacebookLoginStatus(statusChangeCallback);

  $('#event_date').datepicker({
    format: "dd/mm/yyyy"
  });
});


//This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
  if (response.status === 'connected') {
    verifyAdminUser(response);
  } else if (response.status === 'not_authorized') {
    // The person is logged into Facebook, but not your app.
    $('#status').html('Please log into this app.');
  } else {
    // The person is not logged into Facebook, so we're not sure if
    // they are logged into this app or not.
    $('#status').html('Please log into Facebook.');
  }
}

function checkLoginState() {
  getFacebookLoginStatus(statusChangeCallback);
}


function verifyAdminUser(fbResponse) {
  var authResponse = fbResponse.authResponse;
  var userID = authResponse.userID;

  ajaxPOST_is_admin(userID,
    function success(data) {
      if (data.isAdmin === true) {
        $('#status').html("You are logged in as administrator.");
        showAdminControls();
      } else {
        $('#status').html("You don't have access to log into this app, returning to homepage....");
        setTimeout(function() { window.location = '/'; }, 1000)
      }
    },
    function failed(){ alert("Could not sign you in!.")});
  }


function showAdminControls() {
  $('#adminControls').append(
    '<div class="btn_display" style="text-align:center">' +
      '<button class="btn btn-default" data-toggle="modal"' + 'data-target="#addMemberModal">Add Member</button>' +
      '<button class="btn btn-default" data-toggle="modal"' +  'data-target="#addEventModal">Add Event</button>' +
    '</div>');
  $('.nav').append(
    '<li class="active">' +
      '<a href="/admin" data-toggle="collapse"' + 'data-target=".navbar-collapse.in">Administration</a>' +
    '</li>');
  }


$("#add_member_button").click(function() {
  // Get the values the user has entered for member.
  var member_f_name = $('#member_f_name').val();
  var member_l_name = $('#member_l_name').val();
  var member_handicap = $('#member_handicap').val();

  // Create a new member, set the id to whatever,
  // as this does not matter when adding the member to
  // the system as the id will be generated.
  var member_to_add = new Member(0, member_f_name, member_l_name, member_handicap);
  var userToken = getFacebookUserToken().userID;

  ajaxPOST_add_member(userToken, member_to_add,
    function successful(data) {
      // Set textfields to empty.
      clear_member_inputs();
      success(member_f_name + " " + member_l_name + " has been added.");
    },
    function failure() {
      alert("Something went wrong.")
    });
  });



$("#add_event_button").click(function() {
  var event_title = $('#event_title').val();
  var event_location = $('#event_location').val();
  var event_date = $('#event_date').val();
  var event_start_tee = $('#event_start_tee').val();
  var event_end_tee = $('#event_end_tee').val();

  if (!validTimeFormat(event_start_tee)) {
    alert('Please enter time in the format HH:MM');
    return;
  }
  if ((event_end_tee != null) && !(validTimeFormat(event_end_tee))) {
    alert('Please enter time in the format HH:MM');
    return;
  }

  var event_to_add = new EventHITW(0, event_title, event_location, event_end_tee,
    event_start_tee, event_date);

  var userToken = getFacebookUserToken().userID;

  ajaxPOST_add_event(userToken, event_to_add,
    function successful() { success(event_title + " has been added"); },
    function failure() { alert("Something went wrong.") });
  });


function clear_member_inputs() {
  $('#member_f_name').val("")
  $('#member_l_name').val("")
  $('#member_handicap').val("")
}

function success(message) {
  $("#alert_placeholder").append('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>' + message + '</span></div>');
}
</script>
