<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.resizableColumns.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery.resizableColumns.css') }}">

    <title>Members</title>
  </head>


  <body>
    <table class="table table-bordered" data-resizable-columns-id="member_table" id="member_table">
      <thead>
        <tr>
          <th data-resizable-column-id="member_f_name">Firstname</th>
          <th data-resizable-column-id="member_l_name">Lastname</th>
          <th data-resizable-column-id="member_handicap">Handicap</th>
          <th data-resizable-column-id="update_member">Update Member</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>

<script>
var currently_updating_user = false;
var members = [] // All the members currently in the table.

$(document).ready(function() {
  $.ajax({
    type: "GET",
    url: '/get_all_members/',
    contentType: "application/json",
    dataType: "json",
    success: function(data) {
      members = parse_member_from_json(data);
      members.forEach(function(member) {
        var member_f_name =     member.get_member_f_name()
        var member_l_name =     member.get_member_l_name()
        var member_handicap =   member.get_member_handicap()
        var member_id =         member.get_member_id()

        $('#member_table > tbody').append(
          '<tr>' +
            '<td>' + member_f_name + '</td>' +
            '<td>' + member_l_name + '</td>' +
            '<td>' + member_handicap + '</td>' +
            '<td><button id="update_button">Update Member</button></td>' +
            '<td><button id="delete_member">Remove Member</button></td>' +
          '</tr>')
      });
      // Add listener.
      $("button").click(function() {
        if (this.id == 'update_button') {
          var index = $(this).closest('tr').index();
          update_member(members[index]);
        }
        if (this.id == 'delete_member') {
          var index = $(this).closest('tr').index();
          delete_member(members[index]);
        }
      });
    },
    failure: function() {
      alert("Something went wrong.")
    }
  });
});


function update_member(member) {
  display_update_area(function() {
    fill_html_with_member(member)
  });
}

function delete_member(member) {
  if (confirm("Are you sure you want to delete " + member.get_member_f_name() + " " + member.get_member_l_name())) {
    $(function () {
      $.ajax({
        type: "DELETE",
        url: '/edit_member/' + member.get_member_id(),
        success: function(data) {
          alert(member.get_member_f_name() + " " + member.get_member_l_name() + " has been removed.")
          location.reload(true)
        },
        failure: function() {
          alert("Something went wrong.")
        }
      });
    });
  }
}

function display_update_area(callback) {
  if (!currently_updating_user) {
    $(function () {
      $.ajax({
        type: 'GET',
        url: "/update_member/",
        success: function (data) {
          $('body').append(data);
          currently_updating_user = true;
          callback()
        },
        dataType: 'html'
      });
    });
  }
}

function fill_html_with_member(member) {
  var editing_member = member;
  $('#member_f_name').val(editing_member.get_member_f_name());
  $('#member_l_name').val(editing_member.get_member_l_name());
  $('#member_handicap').val(editing_member.get_member_handicap());

  // Logic for updating user.
  $('button').click(function() {
    if (this.id == 'update_member_button') {
      // Get the newly entered values.
      var updated_member_f_name =   $('#member_f_name').val();
      var updated_l_name = $('#member_l_name').val();
      var updated_member_handicap = $('#member_handicap').val();

      // Send edited info to server.
      send_update_to_server(editing_member, updated_member_f_name, updated_l_name, updated_member_handicap)
    }
    if (this.id == 'cancel_update') {
      remove_update_content();
    }
  });
}

function send_update_to_server(old_member, new_member_f_name, new_member_l_name, new_member_handicap) {
  var jsonData = {
    "firstname" :new_member_f_name,
    "lastname"  :new_member_l_name,
    "handicap"  :new_member_handicap,
    "identifier":old_member.get_member_id() // Use the old id, as this will never change
  };

  var data = JSON.stringify(jsonData)

  $.ajax({
    type: "PUT",
    url: '/edit_member/' + old_member.get_member_id(),
    contentType: "application/json",
    data: data,
    success: function(data) {
      remove_update_content();
      alert(new_member_f_name + " " + new_member_l_name + " has been updated.")
      location.reload(true)
    },
    failure: function() {
      alert("Something went wrong.")
    }
  });
}

function remove_update_content() {
  $('#update_member_content').remove();
  currently_updating_user = false;
}


</script>
