<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>


    <title>Members</title>
  </head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand" href="#">McCaffrey's Hole In The Wall Golf Society</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/events_list/"><h4>See events</h4></a></li>
        <li><a href="/members_list/"><h4>See members</h4></a></li>
      </ul>
    </div>
  </nav>

  <body>
    <div class ="table-responsive" style="-webkit-overflow-scrolling: touch;">
      <table class="table table-hover " id="member_table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Handicap</th>
            <th>Update Member</th>
            <th>Remove Member</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <!-- Add Event Modal -->
    <div class="modal fade" id="editMemberModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Member</h4>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>
                  Firstname
                  <input type="text" class="form-control" id="member_f_name">
                </td>
              </tr>
              <tr>
                <td>
                  Lastname
                  <input type="text" class="form-control" id="member_l_name">
                </td>
              </tr>
              <tr>
                <td>
                  Handicap
                  <input type="text" class="form-control" id="member_handicap">
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <input type="button"class="btn btn-default" value="Update"
             id="update_member_button" onclick="send_update_to_server(this)">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </body>
</html>

<script>
var currently_updating_user = false;
var members = [] // All the members currently in the table.

$(document).ready(function() {
  ajaxGET_get_all_members(
    function successful(data) {
      members = parse_member_from_json(data);
      members.forEach(function(member){
        // Append member to html.
        add_member_to_html(member, true);
      });
    },
    function failure() {
      alert('Something went wrong!');
    }
  );
});


function add_member_to_html(member, present_admin_tools) {
  if (present_admin_tools) {
    $('#member_table > tbody').append(
      '<tr>' +
        '<td>' + member.get_member_f_name() + '</td>' +
        '<td>' + member.get_member_l_name() + '</td>' +
        '<td>' + member.get_member_handicap() + '</td>' +
        '<td><button class="btn btn-default" data-toggle="modal" data-target="#editMemberModal" onClick="update_button_click(this);">Edit Member</button></td>' +
        '<td><button class="btn btn-default" onClick="delete_button_click(this)">Remove Member</button></td>' +
      '</tr>');
  }
  else {
    $('#member_table > tbody').append(
      '<tr>' +
        '<td>' + member.get_member_f_name() + '</td>' +
        '<td>' + member.get_member_l_name() + '</td>' +
        '<td>' + member.get_member_handicap() + '</td>' +
      '</tr>');
  }
}

// Handler for a click on update button
function update_button_click(button) {
  var member = get_member_for_button_in_row_index(button, members);
  fill_edit_modal(member);
}


function delete_button_click(button) {
  var member = get_member_for_button_in_row_index(button, members);
  if (confirm("Are you sure you want to delete " + member.get_member_f_name() + " " + member.get_member_l_name())) {
    ajaxDELETE_delete_member(member.get_member_id(),
      function success() {
        location.reload(true)
      },
      function failure() {}
    );
  }
}

function get_member_for_button_in_row_index(button, members) {
  var index = $(button).closest('tr').index();
  return members[index];
}

function fill_edit_modal(member) {
  var editing_member = member;
  $('#update_member_button').data('data-member', member);
  $('#member_f_name').val(editing_member.get_member_f_name());
  $('#member_l_name').val(editing_member.get_member_l_name());
  $('#member_handicap').val(editing_member.get_member_handicap());
}

function send_update_to_server(button) {
  // Get the member that is being edited.
  var member = $("#update_member_button").data("data-member");
  // Get the newly entered values.
  var updated_member_f_name =   $('#member_f_name').val();
  var updated_l_name =          $('#member_l_name').val();
  var updated_member_handicap = $('#member_handicap').val();

  member.set_member_f_name(updated_member_f_name);
  member.set_member_l_name(updated_l_name);
  member.set_member_handicap(updated_member_handicap);

  ajaxPUT_update_member(member,
    function success() {
      location.reload(true);
    },
    function failure() { }
  );
}

</script>
