<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.resizableColumns.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jquery.resizableColumns.css') }}">

    <title>Members</title>
  </head>


  <body>
    <table class="table table-bordered" data-resizable-columns-id="member_table" id="member_table">
      <thead>
        <tr>
          <th data-resizable-column-id="member_f_name">Firstname</th>
          <th data-resizable-column-id="member_l_name">Lastname</th>
          <th data-resizable-column-id="member_handicap">Handicap</th>
          <th data-resizable-column-id="update_member">Update Member</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </body>
</html>

<script>
var currently_updating_user = false;


$(document).ready(function() {
  $.ajax({
    type: "GET",
    url: '/get_all_members/',
    contentType: "application/json",
    dataType: "json",
    success: function(data) {
      var members = parse_member_from_json(data);

      members.forEach(function(member) {
        var member_f_name =     member.get_member_f_name()
        var member_l_name =     member.get_member_l_name()
        var member_handicap =   member.get_member_handicap()
        var member_id =         member.get_member_id()
        $('#member_table > tbody').append(
          '<tr><td>' + member_f_name + '</td>' +
          '<td>' + member_l_name + '</td>' +
          '<td>' + member_handicap + '</td>' +
          '<td><input type="button" id="' + member_id + '" value="Update Member" onclick="update_member()"></tr>')
      });


    },
    failure: function() {
      alert("Something went wrong.")
    }
  });
});

function update_member() {
  display_update_area()
}

function display_update_area() {
  if (!currently_updating_user) {
    $(function () {
      $.ajax({
        type: 'GET',
        url: "/update_member/",
        success: function (data) {
          $('body').append(data);
          currently_updating_user = true;
        },
        dataType: 'html'
      });
    });
  }

}
</script>
