<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"           integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='facebook.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ajax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='typeahead.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='member.js') }}"></script>
  </head>


  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">McCaffrey's Hole In The Wall Golf Society</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li>
            <a href="/events_list" data-toggle="collapse" data-target=".navbar-collapse.in">Events</a>
          </li>
          <li>
            <a href="/members_list" data-toggle="collapse" data-target=".navbar-collapse.in">Players</a>
          </li>
          <li class="active">
            <a href="/poy" data-toggle="collapse" data-target=".navbar-collapse.in">Player of the year</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <body>
    <div id="loaderImage" style="width:100%; text-align:center;">
      <img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" width="130" height="100" style="float-right:50%">
    </div>

    <div id = "poys_container">
      <div id="poy_record"></div>
    </div>

    <div class="modal fade" id="editPOYModal" role="dialog">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit player of the year</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <td>
                      Name
                      <input type="text" class="form-control" id="poy_member_name">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Year
                      <input type="text" class="form-control" id="poy_year" readonly>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Score
                      <input type="text" class="form-control" id="poy_handicap">
                    </td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <input type="button"class="btn btn-default" value="Update"
                 id="update_poy_button">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
  </body>


  <script>

  var membersToFullnameMap = {};
  var currentEditingMember = "";

  $(document).ready(function() {
    // Get the login status from facebook.
    getFacebookLoginStatus(function(response) {
      if (response.status === 'connected') {
        ajaxPOST_is_admin(response.authResponse.userID,
          function success(data) {
            if (data.isAdmin) {
              getAllPOYsAndAddToHTML(true);
              addAdminOnNavBar();
              prepareTypeAhead();
            }
            else { getAllPOYsAndAddToHTML(false); }
          },
          function failure() { getAllPOYsAndAddToHTML(false); });
      }
      else { getAllPOYsAndAddToHTML(false); }
    });

    $('#update_poy_button').on('click', function() {
      var fullname = $('#poy_member_name').val()
      var handicap = $('#poy_handicap').val()
      var year = $('#poy_year').val()

      var memberID = membersToFullnameMap[fullname].get_member_id();
      var userToken = getFacebookUserToken().userID;

      // Get the id of the member that used to be player of the year.
      var oldMemberID = getCurrentEditingMember().get_member_id();
      ajaxPUT_update_poy(userToken, oldMemberID, memberID, parseInt(year), handicap,
        function success(){ location.reload(true); },
        function failed() { alert('Could not update player of the year.') });
    });
  });

  function clearPOYInputs() {
    $('#poy_member_name').val("")
    $('#poy_handicap').val("")
    $('#poy_year').val("")
  }


  function getCurrentEditingMember() {
    return membersToFullnameMap[currentEditingMember];
  }

  function getAllPOYsAndAddToHTML(showAdminControls) {
    ajaxGET_get_all_poys(
      function(data) {
        var poys = parse_poys(data);
        sortPOYsDescendingOrder(poys);
        addPOYstoHTML(poys, showAdminControls);
        removeLoaderImage();
      },
      function() { alert('Could not load Player of the year!'); });

      function sortPOYsDescendingOrder(poys) {
        poys.sort(function(a, b) {
          return b.year - a.year;
        });
      }
  }


  function addPOYstoHTML(poys, adminControls) {
    var currentDisplayedYears = []
    var currentTableID;
    poys.forEach(function(poy) {
      // Check to see if we added a poy for a given year.


      if(!(currentDisplayedYears.includes(poy.year))) {
        currentDisplayedYears.push(poy.year);
        $('#poy_record').append(
          '<h3 id="poy_year_text"> Player of the year ' + poy.year + '</h3>');
        currentTableID = 'poy_table' + poy.year
        $('#poy_record').append(tablebody(currentTableID));
      }

      var fullname = poy.member.firstname + ' ' + poy.member.lastname;
      var score = poy.score;
      tableRow('#' + currentTableID, fullname, score);
    });


    function tablebody(tableID) {
      if (adminControls) { // Show edit buttons.
        return '<div class ="table-responsive">' +
          '<table class="table" id="' + tableID + '">' +
            '<thead>' +
              '<tr>' +
                '<th>Player</th>' +
                '<th>Score</th>' +
              '</tr>' +
            '</thead>' +
          '</table>' +
        '</div>';
      }
      else {
        return '<div class ="table-responsive">' +
          '<table class="table" id="' + tableID + '">' +
            '<thead>' +
              '<tr>' +
                '<th>Player</th>' +
                '<th>Handicap</th>' +
              '</tr>' +
            '</thead>' +
            '<tbody>' +
              '<tr>'+
                '<td>' + fullname + '</td>' +
                '<td>' + handicap + '</td>' +
              '</tr>' +
            '</tbody>' +
          '</table>' +
        '</div>';
      }
    }
  }

  function tableRow(table, fullname, score) {
    $(table).append('<tr>'+
      '<td id="fullname">' + fullname + '</td>' +
      '<td id="score">' + score + '</td>' +
      '<td><button class="btn btn-default" data-toggle="modal" data-target="#editPOYModal" onClick="onEditModal(this);">Edit</button></td>' +
      '<td><button class="btn btn-default" onClick="delete_poy(this);">Delete</button></td>' +
    '</tr>');
  }

  function addAdminOnNavBar() {
    $('.nav').append(
        '<li>' +
          '<a href="/admin" data-toggle="collapse"' + 'data-target=".navbar-collapse.in">Administration</a>' +
        '</li>');
  }


  function removeLoaderImage() {
    $('#loaderImage').remove();
  }


  function onEditModal(button) {
    (function (button) {
      var fullname = $(button).closest('tr').find('#fullname').html();
      var handicap = $(button).closest('tr').find('#score').html();
      var yearText = $(button).closest('table').attr('id')
      var year = yearText.match(/\d+/g);

      $('#poy_year').val(year);
      $('#poy_member_name').val(fullname);
      $('#poy_handicap').val(handicap);
      currentEditingMember = fullname;
    }(button));
  }

  function prepareTypeAhead() {
    ajaxGET_get_all_members(
      function(data) {
        var members = parse_member_from_json(data);
        var fullnames = members.map(function(member) {
          var fullname = member.get_member_fullname();
          membersToFullnameMap[fullname] = member;
          return fullname;
        });
        setTypeAheadDataSource(fullnames);
      }
    )
  }

  function setTypeAheadDataSource(fullnames) {
    $("#poy_member_name").typeahead({
      source: fullnames,
      minLength: 1
    });
  }

  function delete_poy(button) {
    // var fullname = $(button).closest('tr').find('#fullname').html();
    // var handicap = $(button).closest('tr').find('#handicap').html();
    //
    // // Get the members name.
    // var memberName = $(button).closest('#poy_record').find('#poy_table > tbody > tr > #fullname').html();
    //
    // var yearText = $(button).closest('#poy_record').find('#poy_year_text').html();
    var fullname = $(button).closest('tr').find('#fullname').html();
    var handicap = $(button).closest('tr').find('#score').html();
    var yearText = $(button).closest('table').attr('id')
    var year = yearText.match(/\d+/g);
    var year = yearText.match(/\d+/g);

    // Get the member object from the hashmap.
    var member = membersToFullnameMap[fullname];

    var userToken = getFacebookUserToken().userID;

    ajaxDELETE_delete_poy(userToken, member.get_member_id(), parseInt(year),
      function success(){
        location.reload(true);
      });
  }


  </script>
</html>
