
<div id="update_member_content">
  <b>Update Member</b>
  <table>
    <tr>
      <td>
        Firstname
        <input type="text" id="member_f_name">
      </td>
    </tr>
    <tr>
      <td>
        Lastname
        <input type="text" id="member_l_name">
      </td>
    </tr>
    <tr>
      <td>
        Handicap
        <input type="text" id="member_handicap">
      </td>
    </tr>
    <tr>
      <td>
        <button id="cancel_update">Cancel</button>
        <button id="update_member_button">Update Member</button>
      </td>
    </tr>
  </table>
</div>
